# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle wrapper binary which must be generated locally
gradle/wrapper/gradle-wrapper.jar
